<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Pagina de registro</h1>

    <form action="#" method="post">
        <label for="name">Correo:</label>
        <input type="email" name="correo" id="email" placeholder="Ingresa tu correo" required maxlength="45">
        <br><br>
        <label for="pass">Contraseña:</label>
        <input type="password" name="pass" id="pass" maxlength="15" required placeholder="Ingresa tu Contraseña">
        <br><br>
        <button type="submit">Enviar</button>
        <button type="reset">Eliminar</button>
    </form>
    
</body>
</html>